body {
  background-color: black;
  font-family: sans-serif;
  color:white;
  box-sizing: border-box;
  margin:0;
}

body > * {
  box-sizing: border-box;
}

.container {
  height: 768px;
  width:1024px;
  overflow: hidden;
  background-image: url('sources/fond.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-app {
  width:100%;
  height:100vh;
  padding:30px;
}

.logo {
  margin:40px auto;
  text-align: center;
}

.question {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding: 0 80px;
}

.answers {
  font-size:0;
  margin:0 auto;
  text-align: center;
}

.answer {
  display: inline-block;
  background-image: url(sources/bg.png);
  background-size:cover;
  background-position:center center;
  width:500px;
  height:150px;
  font-size: 36px;
  text-align: left;
  position:relative;
}

.answer p {
  position: relative;
  bottom:30px;
  left: 30px;
}

.answer span {
  position:relative;
  top: 10px;
  font-size: 64px;
  font-weight:bold;
  display:inline-block;
  margin-right: 30px;
}

.answer-right p {
  left: 60px;
}

.answer-right.answer-true {
  background-image: url(sources/bgtrue-right.png);
}

.answer-left.answer-true {
  background-image: url(sources/bgtrue-left.png);
}

.answer-right {
  background-image: url(sources/bgright.png);
}

/* portraits */

.logo-small img {
  width:70px;
  text-align: left;
  margin-top: 20px;
  margin-left:20px;
}

.portrait {
  display:inline-block;
  min-height: 50px;
  width:6%;
  box-sizing: border-box;
  margin-bottom:5px;
  background-color:black;
  position:relative;
}

.portrait.exterminate .repeche {
  background-color: blue;
  opacity: 0.5;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.portrait.exterminate img {
  opacity: 0.2;
}

.portrait img {
  width:100%;
}

.portrait .name {
  position: absolute;
  font-size: 8px;
  text-align: center;
  width:100%;
  background-color: rgba(0,0,0,0.7);
  padding:5px 0;
  bottom:0;
  box-sizing: border-box;
}

.button {
  width:100%;
  display: block;
  height: 17%;
  margin-top: 20px;
}

.button:first-child {
  margin-top: 0;
}

.button-answer {
  background: transparent;
  border:5px solid white;
  color:white;
  font-size: 64px;
  font-weight: bold;
}

.button-choosen {
  background-color:white;
  color: black;
}

.button-send {
  background-image: linear-gradient(to bottom, #34ac0a, #96ff52);
  box-shadow: 0 40px 4px 0 rgba(0, 0, 0, 0.5);
  border: none;
  color: #ffffff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  font-weight: bold;
}

.your-answer {
  position: absolute;
  top:40%;
  left: 0;
  width:100%;
  text-align: center;
}

.your-answer p {
  font-size: 36px;
  font-weight: bold;
}

.your-answer span {
  font-size: 64px;
  display:block;
}

.waiting-next {
  position: absolute;
  bottom:40px;
  left:0;
  text-align: center;
  width:100%;
}

.waiting-next p {
  font-size:36px;
  font-weight: bold;
}

.waiting-next span {
  font-size: 24px;
  display:block;
  font-weight: normal;
}
